@use "global" as *;

.about {
  @include mq("md") {
    position: relative;
  }
}

.about::after {
  display: none;

  @include mq("md") {
    content: "";
    display: block;
    position: absolute;
    width: rem(194);
    height: rem(181);
    bottom: rem(-91);
    right: calc(50% - min(48.2%, 40rem));
    background-image: url(/assets/images/common/_サンゴとイソギンチャク.png);
    background-size: cover;
  }
}


.about__inner {}

.about__title {
  text-align: center;
}

.about__body {
  margin-top: rem(24);
  position: relative;

  @include mq("md") {
    margin-top: rem(40);
  }
}

.about__main {
  width: calc(281 / 345 * 100%);
  padding-top: rem(30);
  margin-left: auto;

  @include mq("md") {
    max-width: rem(880);
    padding-top: rem(80);
  }
}

.about__sub {
  position: absolute;
  width: calc(128 / 345 * 100%);
  height: auto;
  top: rem(3);
  left: 0;

  @include mq("md") {
    max-width: rem(400);
    top: rem(0);
  }
}

.about__contentsbox {
  margin-top: rem(40);

  @include mq("md") {
    margin-top: rem(16);
    position: absolute;
    display: flex;
    right: rem(40);
    top: 27.7%;
    gap: rem(42);
  }
}

.about__content-title {
  font-size: rem(40);
  line-height: 1;
  color: $green-blue;
  font-family: $second-font-family;
  position: absolute;
  color: #ffff;
  top: rem(25);
  left: rem(20);


  @include mq("md") {
    font-size: rem(80);
    // margin-top: rem(16);
    line-height: calc(100 / 80);
    // margin-right: rem(42);
  }
}

.about__textbox {
  // margin-top: rem(16);
  line-height: calc(24 / 16);
}

.about__text {
  font-weight: 400;

  @include mq("md") {
    max-width: rem(400);
    color: #ffff;
    padding-right: rem(0);
  }
}

.about__link {
  margin-top: rem(50);
  text-align: center;
  // margin-right: rem(13);
  // padding-right: rem(13);

  @include mq("md") {
    // padding-left: rem(1);
    // padding-right: 0;
    // margin-right: 0;
    margin-top: rem(40);
  }
}

.about__decoration {
  display: none;

  @include mq("md") {
    display: block;
    max-width: rem(194);
    position: absolute;
    bottom: rem(-91);
    right: calc(50% - min(48.2%, 40rem));
  }
}