@use "global" as *;

.price {
  padding-top: rem(80);
  padding-bottom: rem(84);
  background-color: #ddf0f1;
  @include mq("md") {
    padding-bottom: rem(105);
    padding-top: rem(100);
    position: relative;
  }
}

.price::after {
  display: none;
  @include mq("md") {
    content: "";
    display: block;
    position: absolute;
    width: rem(437);
    height: rem(201);
    bottom: rem(60);
    left: calc(50% - min(48%, 39rem));
    background-image: url(/assets/images/common/_price-キンギョハナダイ.png);
    background-size: cover;
  }
}

.price__inner {
  @include mq("md") {
  }
}

.price__header {
  // margin-top: rem(80);
  text-align: center;
  @include mq("md") {
    // margin-top: rem(100);
  }
}

.price__content {
  // padding-top: rem(28);
  margin-top: rem(28);

  @include mq("md") {
    margin-top: rem(40);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    // padding-top: rem(40);
  }
}

.price__image {
  @include mq("md") {
    max-width: rem(492);
  }
}

.price__image img {
  aspect-ratio: 345/227;
  object-fit: cover;
  @include mq("md") {
    aspect-ratio: 492/746;
  }
}

.price__lists {
  margin-top: rem(40);
  @include mq("md") {
    margin-top: 0;
    max-width: rem(492);
  }
}
.price__list:not(:first-child) {
  margin-top: rem(39);
}

.price__list-title {
  font-weight: 700;
  line-height: calc(24 / 16);
  padding-bottom: rem(4);
  border-bottom: solid 1px $green-blue;

  @include mq("md") {
  }
}

.price__costs {
  display: flex;
  flex-wrap: wrap;

  @include mq("md") {
    justify-content: space-between;
  }
}

.price__costs dt {
  font-size: rem(14);
  // padding-top: rem(8);
  margin-top: rem(8);
  line-height: calc(24 / 14);
  width: calc(253 / 345 * 100%);
  @include mq("md") {
    font-size: rem(16);
    width: calc(300 / 492 * 100%);
    line-height: calc(24 / 16);
    // padding-top: rem(6);
    margin-top: rem(6);
  }
}

.price__costs dd {
  font-size: rem(14);
  // padding-top: rem(8);
  margin-top: rem(8);
  line-height: calc(24 / 14);
  width: calc(92 / 345 * 100%);
  text-align: right;

  @include mq("md") {
    font-size: rem(16);
    width: calc(100 / 492 * 100%);
    line-height: calc(24 / 16);
  }
}

.price__list:nth-of-type(1) dt {
  @include mq("md") {
    margin-top: rem(8);
    // padding-top: rem(8);
  }
}
.price__list:nth-of-type(2) dt {
  @include mq("md") {
    margin-top: rem(7);
    // padding-top: rem(8);
  }
}

.price__list:nth-of-type(3) dt {
  @include mq("md") {
    margin-top: rem(8.5);
    // padding-top: rem(8.5);
  }
}

.price__list:nth-of-type(4) dt {
  @include mq("md") {
    margin-top: rem(8);
    // padding-top: rem(8);
  }
}
.price__list:nth-of-type(4) .price__list-title {
  @include mq("md") {
    margin-top: rem(2);
    // padding-top: rem(2);
  }
}

.price__link {
  text-align: center;
  margin-top: rem(40);
  // padding-top: rem(40);
  // padding-right: rem(3);

  @include mq("md") {
    // padding-top: rem(80);
    margin-top: rem(80);
  }
}
